@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

section {
    @apply min-h-[30vh];
}

.ck-editor__editable {
    @apply h-36 resize-y;
}

.ck-editor__editable p {
    @apply mb-4;
}

.ck-editor__editable h2,
.text-content h2 {
    @apply font-semibold text-lg mb-2 text-gray-800;
}

.text-content {
    @apply leading-relaxed text-gray-600 space-y-4 mt-4;
}

.ck-editor__editable ol,
.text-content ol {
    @apply list-decimal mb-4 ml-8;
}

.ck-editor__editable ol li,
.text-content ol li {
    @apply pl-2;
}

.ck-editor__editable ul,
.text-content ul {
    @apply list-disc mb-4 ml-8;
}

.ck-editor__editable ul li,
.text-content ul li {
    @apply pl-2;
}

.btn {
    @apply font-medium rounded-full py-2 px-3 lg:px-5 lg:py-3 bg-orange-500 hover:bg-orange-600 flex gap-2 items-center justify-center transition text-white;
}

.text-content p {
    @apply mb-4;
}

h1,
h2,
h3 {
    @apply font-montserrat;
}

h1.title {
    @apply text-3xl lg:text-4xl font-semibold leading-relaxed mb-3;
}

h3.up-title {
    @apply text-lg text-orange-500 font-semibold;
}

label {
    @apply font-medium;
}

.input,
.select {
    @apply border w-full p-2 mt-2 rounded ring-2 ring-transparent;
}

.input:focus {
    @apply ring-orange-400 outline-none;
}

#hero .deskripsi span {
    @apply text-orange-400 font-semibold;
}

.error {
    @apply text-red-500 text-sm mt-1;
}

table td,
table th {
    @apply p-2;
}

.text-price ol li,
.text-price ul li {
    @apply border p-2 rounded-lg border-orange-500 mb-2;
}

/* swiper */
.card-wrapper .swiper-pagination-bullet {
    height: 13px;
    width: 13px;
    opacity: 0.5;
    @apply bg-orange-500;
}

.card-wrapper .swiper-pagination-bullet-active {
    opacity: 1;
}

/* .card-wrapper .swiper-slide-button {
    @apply text-orange-500 w-8 h-8;
} */

.card-wrapper .swiper-slide-button::after {
    @apply text-orange-500 text-4xl font-medium;
}

@media screen and (max-width: 768px) {
    .card-wrapper .swiper-slide-button {
        display: none;
    }
}
